#nav{
    height: 15%;
}
#name{
    margin-top: 13%;
    text-align: center;
    font-style: oblique;
}
#inputform{
    margin-top: 12%;
}
#inputcol{
    background-color: #fff3e2;
}
.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation-fill-mode: forwards;
}
/*#drop:active #map{*/
/*    display: block;*/
/*}*/
#map{
    display: none;
    animation-fill-mode: forwards;
}
@keyframes mapdrop {
    0%{height: 0%;}
    100%{height: 130%;}
}
@keyframes hidemap {
    0%{height: 130%;}
    100%{height: 0%;}
}
@keyframes triangleup {
    0%{transform: rotate(45deg)}
    100%{transform: rotate(225deg)}
}
@keyframes triangledown {

    0%{transform: rotate(225deg)}
    100%{transform: rotate(45deg)}
}